# eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
build

# other
eclipse
run

# sketchup
*.skb

*.jar

# Projects
TrackAPI
ImmersiveRailroadingIntegration
UniversalModCore
src/main/java/cam72cam/immersiverailroading/Mod.java

#UMC
umc.gradle

build.gradle
UMC.MD
gradle

src/main/resources/mcmod.info
