## Eclipse
eclipse/
*.launch
.settings
.metadata
.classpath
.project

## Idea
.idea/
*.ipr
*.iws
*.iml
out/

## Gradle
.gradle/
build/

## Sketchup
*.skb

## Built JARs
*.jar
!UMCSetup.jar

## Projects
TrackAPI/
ImmersiveRailroadingIntegration/
UniversalModCore/

## Generated
build.gradle
UMC.md
gradle/wrapper/gradle-wrapper.properties
src/main/java/cam72cam/immersiverailroading/Mod.java
src/main/resources/mcmod.info

## Misc
run/
