# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# sketchup
*.skb

*.jar
models/Rolling Stock/Freight/flat_car.dae
*.dae
models/Rolling Stock/Freight/flat_car.dae
models/Rolling Stock/Freight/flat_car.dae
